// (\_/)   nonlinear tile
// (`ㅅ`)づ extended from PatternBolt https://github.com/buseca/patternbolt
// (")(")  more at nonlinear.nyc/tile

=tile($tile, $color: #000, $size: 200px, $mask: "none")
  @if unitless($size)
    @warn "Assuming PatternBolt background-size `#{$size}` to be in pixels."

    $size: $size + 0px

  $background-image: null

  @if $tile == "cross-a"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-239%20346.5%2036%2036%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-473.5%20728.5h3v-4h4v-3h-4v-4h-3v4h-4v3h4v4zm-18-18h3v-4h4v-3h-4v-4h-3v4h-4v3h4v4z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "cross-b"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-239%20346.5%2036%2036%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-472%20695h-4v4h-4v-4h-4v-4h4v-4h4v4h4v4zm18%2018h-4v4h-4v-4h-4v-4h4v-4h4v4h4v4z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "cross-c"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-239%20346.5%2036%2036%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-711%201042.5h-3v3h-6v-3h-3v-6h3v-3h6v3h3v6zm18%2018h-3v3h-6v-3h-3v-6h3v-3h6v3h3v6z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "dots-a"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-239%20346.5%2036%2036%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-938%201409c-2.8%200-5-2.2-5-5s2.2-5%205-5%205%202.2%205%205-2.2%205-5%205zm-18-18c-2.8%200-5-2.2-5-5s2.2-5%205-5%205%202.2%205%205-2.2%205-5%205zm0%2036c-2.8%200-5-2.2-5-5s2.2-5%205-5%205%202.2%205%205-2.2%205-5%205zm36-36c-2.8%200-5-2.2-5-5s2.2-5%205-5%205%202.2%205%205-2.2%205-5%205zm0%2036c-2.8%200-5-2.2-5-5s2.2-5%205-5%205%202.2%205%205-2.2%205-5%205z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "dots-b"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-239%20346.5%2036%2036%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-938%201412c-4.4%200-8-3.6-8-8s3.6-8%208-8%208%203.6%208%208-3.6%208-8%208zm-18-18c-4.4%200-8-3.6-8-8s3.6-8%208-8%208%203.6%208%208-3.6%208-8%208zm0%2036c-4.4%200-8-3.6-8-8s3.6-8%208-8%208%203.6%208%208-3.6%208-8%208zm36-36c-4.4%200-8-3.6-8-8s3.6-8%208-8%208%203.6%208%208-3.6%208-8%208zm0%2036c-4.4%200-8-3.6-8-8s3.6-8%208-8%208%203.6%208%208-3.6%208-8%208z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "dots-c"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-239%20346.5%2036%2036%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-938%201415c-6.1%200-11-4.9-11-11s4.9-11%2011-11%2011%204.9%2011%2011-4.9%2011-11%2011zm-18-18c-6.1%200-11-4.9-11-11s4.9-11%2011-11%2011%204.9%2011%2011-4.9%2011-11%2011zm0%2036c-6.1%200-11-4.9-11-11s4.9-11%2011-11%2011%204.9%2011%2011-4.9%2011-11%2011zm36-36c-6.1%200-11-4.9-11-11s4.9-11%2011-11%2011%204.9%2011%2011-4.9%2011-11%2011zm0%2036c-6.1%200-11-4.9-11-11s4.9-11%2011-11%2011%204.9%2011%2011-4.9%2011-11%2011z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-a"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-252%20359.5%2010%2010%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-252%20359.5h10v1h-10z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-b"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-252%20359.5%2010%2010%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-504%20719h10v3h-10z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-c"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-252%20359.5%2010%2010%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-504%20719h10v5h-10z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-down-a"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-251%20358.5%2012%2012%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-741%201075.5h-.7l.7.7zm-12%2011.3v.7h.7z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-753%201086.8v.7h.7zm12%200v.7h-.7l-11.3-11.3v-.7h.7z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-down-b"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-251%20358.5%2012%2012%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-750.9%201075.5h-2.1v2.1l9.9%209.9h2.1v-2.1l-9.9-9.9zm9.9%202.1l-2.1-2.1h2.1v2.1zm-9.9%209.9h-2.1v-2.1l2.1%202.1z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-down-c"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-251%20358.5%2012%2012%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-498.5%20717h-3.5v3.5l8.5%208.5h3.5v-3.5l-8.5-8.5zm-3.5%2012v-3.5l3.5%203.5h-3.5zm12-8.5l-3.5-3.5h3.5v3.5z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-up-a"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-251%20358.5%2012%2012%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-741%201087.5v-.7l-.7.7zm-11.3-12h-.7v.7z%22%2F%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-752.3%201075.5h-.7v.7zm0%2012h-.7v-.7l11.3-11.3h.7v.7z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-up-b"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-251%20358.5%2012%2012%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-490%20719.1V717h-2.1l-9.9%209.9v2.1h2.1l9.9-9.9zm-2.1%209.9l2.1-2.1v2.1h-2.1zm-9.9-9.9V717h2.1l-2.1%202.1z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-up-c"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-251%20358.5%2012%2012%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-490%20720.5V717h-3.5l-8.5%208.5v3.5h3.5l8.5-8.5zm-12-3.5h3.5l-3.5%203.5V717zm8.5%2012l3.5-3.5v3.5h-3.5z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-vert-a"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-252%20359.5%2010%2010%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-504%20719h1v10h-1z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-vert-b"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-252%20359.5%2010%2010%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-504%20719h3v10h-3z%22%2F%3E%3C%2Fsvg%3E")

  @if $tile == "lines-vert-c"
    background-image: url("data:image&#x2F;svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-252%20359.5%2010%2010%22%3E%3Cstyle%3E.st0%7Bfill%3A" + $color + "%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-504%20719h5v10h-5z%22%2F%3E%3C%2Fsvg%3E")

  position: relative
  z-index: 1
  background-size: $size
  background-color: none
  border: solid 3px red !important
